@import "./_variables.scss";

.layout {
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;

    grid-template-rows: 1fr auto;
    grid-template-columns: 20em 1fr;
    grid-template-areas: "as main"
                             "ft ft";

    padding: 0.5em;
    grid-gap: 0.5em;

    & > .top-aside {
        grid-area: as;

        border-radius: 0.5em;
        padding: 1em;
    }

    & > .top-main {
        grid-area: main;

        padding: 1em;
    }

    & > .top-footer {
        grid-area: ft;

        padding: 1em;
    }
}
