{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}HR DJ{% endblock %}
        </title>

        {% block assets %}
            <script src="{% static "main.js" %}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="layout">
            <aside class="top-aside">
                {% include "./_sidebar.html" %}
            </aside>
            <main class="top-main">
                {% block content %}{% endblock %}
            </main>
            <footer class="top-footer">
                © Artemiy Solopov
            </footer>
        </div>
    </body>
</html>
