{% if actions %}
    <footer class="card-body btn-toolbar" role="group">
        <div class="btn-group">
            {% for action in actions %}
                <a href="{{ action.url }}" class="btn btn-{{ action.btn_type }}">{{ action.name }}</a>
            {% endfor %}
        </div>
    </footer>
{% endif %}
