{% extends "_base.html" %}

{% block content %}
    <p>Are you sure you want to delete department {{ object.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <button type="Submit" class="btn btn-danger">Yes</button>
            <a href="{{ back_href }}" class="btn btn-info">No, go back!</a>
        </div>
    </form>
{% endblock %}
