{% extends "_base.html" %}
{% load department_tags %}

{% block content %}
    {% if perms.employee.can_add_department %}
        <p><a href="{% url 'employees:departments:create' %}" class="btn btn-primary">New department</a></p>
    {% endif %}
    {% for d in department_list %}
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">
                    {{ d.name }}
                    <span class="code small">{{ d.code | upper }}</span>
                </h2>
            </header>
            <ul class="list-group list-group-flush">
                {% for pos in d.position_set.all %}
                    <li class="list-group-item">{{ pos.name }}</li>
                {% endfor %}
            </ul>
            {% department_actions d %}
        </section>
    {% endfor %}
{% endblock %}

