{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        {% crispy form.employee_formset %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
