{% extends "_base.html" %}

{% block content %}
    <p>
        <a href="{% url "employees:employees:create" %}" class="btn btn-primary">New employee</a>
    </p>

    <table class="table">
        <tbody>
            {% for employee in employee_list %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>
                        <a href="{% url 'employees:employees:profile' pk=employee.pk %}">{{ employee.user.last_name }} {{ employee.user.first_name }}</a>
                    </td>
                    <td>{{ employee.user.username }}</td>
                    <td>{{ employee.position.name }}</td>
                    <td>{{ employee.position.department.name }}</td>
                    <td>
                        {% if employee.photo %}
                            <a href="{{ employee.photo.url }}">Photo</a>
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url "employees:employees:update" pk=employee.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
