{% extends "_base.html" %}

{% block content %}
    <h1 class="h2">{{ employee.user.first_name }} {{ employee.user.last_name }}</h1>

    {% if object.photo %}
        <figure class="float-left w-25">
            <img class="w-100" src="{{ employee.photo.url }}" />
        </figure>
    {% endif %}

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email:</strong> {{ employee.user.email }}</li>
        <li class="list-group-item"><strong>Position:</strong> {{ employee.position.name }}</li>
        <li class="list-group-item"><strong>Department:</strong> {{ employee.position.department.name }}</li>
    </ul>
{% endblock %}
